@media (max-width: 375px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        background-image: url(../images/mobile_header-bg.png);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        padding-bottom: 238px;

        &__top,
        &__title,
        &__opis {
            text-align: center;
        }

        &__top {
            padding-top: 238px;
        }

        &__title {
            font-family: Montserrat;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
        }

        &__opis {
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
        }

        &__btn {
            margin-bottom: 238px;
        }
    }

    .games {
        row-gap: 32px;
    }

    .seasons__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seasons__zag {
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        text-align: center;
    }

    .seasons__opis {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        text-align: center;
    }

    .seasons__btn {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }

    .seasons__right {
        margin-top: 64px;
    }

}

@media (max-width: 510px) {
    .seasons__img {
        height: 236px;
    }
}