* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding: 0 calc(50% - 600px);
}

/*--------------ШАПКА САЙТА----------*/

.header {
    background-image: url(../images/main_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 600px;

    &__top {
        padding-top: 217px;
    }

    &__title,
    &__opis {
        color: rgb(255, 255, 255);
        text-align: left;
        font-family: inherit;
    }

    &__title {
        font-size: 64px;
        line-height: 78px;
        font-weight: 700;
    }

    &__opis {
        font-size: 18px;
        line-height: 32px;
        font-weight: 300;
        margin-top: 37px;

        &_white {
            font-weight: 700;
        }
    }

    &__btn {
        border: none;
        border-radius: 30px;
        background: rgb(156, 3, 50);
        color: rgb(255, 255, 255);
        font-family: inherit;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        margin-top: 44px;
        padding: 13px 74px;
        text-align: left;

        &:hover {
            border-radius: 30px;
            background: rgb(235, 68, 63);
            cursor: pointer;
        }
    }
}

/*------------ГЛАВНЫЙ КОНТЕНТ----------*/

.main {
    background-color: rgb(0, 9, 21);
}

.games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 128px;
    padding-bottom: 128px;

    &__img {
        position: relative;
    }

    &__game {
        border-radius: 16px;
        box-sizing: border-box;
        position: relative;

        &:hover {
            outline: 3px solid rgb(68, 210, 255);
            cursor: pointer;
        }
    }

    &__game-link img {
        position: relative;
    }

    &__game-opis {
        position: absolute;
        color: rgb(255, 255, 255);
        font-family: inherit;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        top: 9.5em;

        &_one {
            left: 2em;
        }

        &_two {
            left: 2em;
        }

        &_three {
            left: 2em;
        }
    }
}

.seasons, .words {
    background-color: #000915;
    display: flex;
    padding-top: 128px;
    padding-bottom: 233px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__zag {
        font-family: inherit;
        color: #fff;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
    }

    &__opis {
        color: #fff;
        font-family: inherit;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        margin-top: 32px;
    }

    &__btn {
        background-color: rgb(156, 3, 50);
        border: none;
        border-radius: 30px;
        color: #fff;
        font-family: inherit;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 32px;
        padding: 13px 74px;

        &:hover {
            background: rgb(235, 68, 63);
            cursor: pointer;
        }
    }

    &__img {
        height: 333px;
    }
}

@import 'mobile';