@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding: 0 calc(50% - 600px);
}

/*--------------ШАПКА САЙТА----------*/
.header {
  background-image: url(../images/main_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1240px;
}
.header__top {
  padding-top: 217px;
}
.header__title, .header__opis {
  color: rgb(255, 255, 255);
  text-align: left;
  font-family: inherit;
}
.header__title {
  font-size: 64px;
  line-height: 78px;
  font-weight: 700;
}
.header__opis {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  margin-top: 37px;
}
.header__opis_white {
  font-weight: 700;
}
.header__btn {
  border: none;
  border-radius: 30px;
  background: rgb(156, 3, 50);
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 44px;
  padding: 13px 74px;
  text-align: left;
}
.header__btn:hover {
  border-radius: 30px;
  background: rgb(235, 68, 63);
  cursor: pointer;
}

/*------------ГЛАВНЫЙ КОНТЕНТ----------*/
.main {
  background-color: rgb(0, 9, 21);
}

.games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 128px;
  padding-bottom: 128px;
}
.games__img {
  position: relative;
}
.games__game {
  border-radius: 16px;
  box-sizing: border-box;
  position: relative;
}
.games__game:hover {
  outline: 3px solid rgb(68, 210, 255);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
}
.games__game-link img {
  position: relative;
}
.games__game-opis {
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  top: 9.5em;
}
.games__game-opis_one {
  left: 2em;
}
.games__game-opis_two {
  left: 2em;
}
.games__game-opis_three {
  left: 2em;
}

.seasons {
  background-color: #000915;
  display: flex;
  padding-top: 128px;
  padding-bottom: 233px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.seasons__zag {
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}
.seasons__opis {
  color: #fff;
  font-family: inherit;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  margin-top: 32px;
}
.seasons__btn {
  background-color: rgb(156, 3, 50);
  border: none;
  border-radius: 30px;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 32px;
  padding: 13px 74px;
}
.seasons__btn:hover {
  background: rgb(235, 68, 63);
  cursor: pointer;
}
.seasons__img {
  height: 333px;
}

@media (max-width: 375px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    background-image: url(../images/mobile_header-bg.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 238px;
  }
  .header__top, .header__title, .header__opis {
    text-align: center;
  }
  .header__top {
    padding-top: 238px;
  }
  .header__title {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }
  .header__opis {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
  }
  .header__btn {
    margin-bottom: 238px;
  }
  .games {
    row-gap: 32px;
  }
  .seasons__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seasons__zag {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
  }
  .seasons__opis {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
  }
  .seasons__btn {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
  .seasons__right {
    margin-top: 64px;
  }
}
@media (max-width: 510px) {
  .seasons__img {
    height: 236px;
  }
}/*# sourceMappingURL=main.css.map */